# APPLICATION CONFIGURATION
PORT=5001
NODE_ENV=DEVELOPMENT

# DATABASE CONFIGURATION
MONGO_URI=mongodb://localhost/baghdadShopDB

# SECURITY & AUTHENTICATION
JWT_SECRET_KEY=e50f4f1bcb98788f0f0035d3224e57116e539100ab62dd251284f00e44d4cf8d
JWT_EXPIRES_IN=30d

# FRONTEND INTEGRATION (CORS)
CLIENT_URL=http://localhost:3050

# CLOUDINARY CONFIGURATIONS
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=