@import "tailwindcss";

@theme {
  /* Break Points */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
  /* Fonts */
  --font-jetbrains: "JetBrains Mono", monospace;
  /* Colors */
  --color-body: #f1f1f2;
  --color-primary: #34465b;
  --color-secondary: #3ead50;
  --color-light-red: #e74c3c;
  --color-warning: #ffc107;
  /* Box Shadows */
  --shadow-primary: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --shadow-secondary:
    rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  --shadow-special: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --shadow-box: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  --shadow-btn:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.custom-container {
  @apply mx-auto px-4 w-full sm:max-w-135 md:max-w-180 lg:max-w-240 xl:max-w-285 xxl:max-w-330;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-body;
}
